body {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    color: #fff;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
}

.account {
    color: white;
    text-align: center;
}

.form-wrapper {
    width: 400px;
    height: 370px;
    position: absolute;
    top: 50%;
    left: 48%;
    margin: -184px 0px 0px -155px;
    background: rgba(41, 40, 40, 0.5);
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(58, 58, 58, 0.6), inset 0px 5px 0px rgba(102, 101, 101, 0.04);
    font: 87.5%/1.5em 'Open Sans', sans-serif;
}

.form-item {
    width: 100%;
}

h3 {
    font-size: 25px;
    font-weight: 640;
    margin-bottom: 10px;
    color: #e7e7e7;
    padding: 6px;
    font-family: 'Open Sans', sans-serif;
}

.form-item input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    /* border-bottom: 10px; */
    /* border-bottom-left-radius: 50px; */
    border-radius: 50px;
    background: transparent;
    color: #fff;
    margin-top: 11px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    height: 49px;
    padding: 0 16px;
    width: 100%;
    padding-left: 55px;
}


/* .form-item input,
.button-panel .button {
    border-radius: 26px;
} */

input[type='password'] {
    background: transparent url("img/pass.jpg") no-repeat;
    background-position: 10px 50%;
}

input[type='text'] {
    background: transparent url("img/user.jpg") no-repeat;
    background-position: 10px 50%;
}

.form-item input:focus {
    outline: none;
    border: 1.4px solid #cfecf0;
}

.button-panel {
    margin-bottom: 20px;
    padding-top: 10px;
    width: 100%;
}

.button-panel .button {
    background: #ee2a2a;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'helvetica', 'Open Sans', sans-serif;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.6s linear;
    width: 100%;
    margin-top: 10px;
}

.button:hover {
    background: #f0c743;
}

.form-item input,
.button-panel .button {
    border-radius: 26px
}

.logout {
    text-align: center;
    margin-top: 50% !important;
}

.logout a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.logout a:hover {
    color: #cab6bf;
}